body {
  font-family: "Lucida Console", Monaco, monospace;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  font-weight: normal;
  color: #41436d;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: #41436d;
}

article {
  padding: 15px;
  margin: 0px -15px 15px -15px;  
}

article > div > h2,time,p {
  margin-top: 10px;  
  margin-left: 15px;  
}

h1.pure-menu-heading {
    text-transform: none;
}
h2.pure-menu-heading {
    text-transform: none;
}
h3.pure-menu-heading {
    text-transform: none;
}
h4.pure-menu-heading {
    text-transform: none;
}
h5.pure-menu-heading {
    text-transform: none;
}
